/ {
	chosen {
		zephyr,legacy_console = &uart1;
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	ext-loopback;
};

&twd0 {
       status = "okay";
};


&i2c1a {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
};

&i2c1b {
    status = "disabled";
};

&i2c2a {
	status = "disabled";
};

&i2c3a {
	status = "disabled";
};

&i2c4a {
    status = "disabled";
};

&i2c4b {
	status = "disabled";
};

&i2c5a {
	status = "disabled";
};

&i2c6a {
    status = "disabled";
};

&i2c6b {
	status = "disabled";
};

&i2c7a {
	status = "disabled";
};

&i2c8a {
    status = "disabled";
};

&i2c9a {
    status = "disabled";
};

&i2c10a {
    status = "disabled";
};

&i2c11a {
    status = "disabled";
};

&i2c12a {
    status = "disabled";
};

/* disable peci0, pin use by i3c */
&peci0 {
	status = "disabled";
};

#if 0
/* Use for I3C_5 controller */
&i3c5 {
	status = "okay";
	i2c-scl-hz = <100000>;
	i3c-scl-hz = <12500000>;
};
#endif

#if 1
&i3c5 {
	bcr = <0x66>;
	dcr = <0xCC>;
	part-id = <0x1234>;
	vendor-def-id = <0x5607>;
	slave;
	secondary;
	status = "okay";
	i3c5_smq:i3c-slave-mqueue@21 {
		compatible = "i3c-slave-mqueue";
		reg = <0x21>;
		msg-size = <256>;
		num-of-msgs = <4>;
		mandatory-data-byte = <0xae>;
		label = "I3C_SMQ_5";
		status = "okay";
	};
};
#endif

#if 1
/* Use for I3C_4 controller */
&i3c4 {
	status = "okay";
	i2c-scl-hz = <100000>;
	i3c-scl-hz = <12500000>;
};
#endif

#if 0
/* test for bridge slave mode only, MCTP EID = 0x12, use for I3C_4 target */
&i3c4 {
	status = "okay";
	bcr = <0x66>;
	dcr = <0xCC>;
	part-id = <0x4321>;
	assigned-address = <0xA>;
	vendor-def-id = <0x777>;
	slave;
	status = "okay";
	i3c4_smq:i3c-slave-mqueue@A {
		compatible = "i3c-slave-mqueue";
		reg = <0xA>;
		msg-size = <256>;
		num-of-msgs = <4>;
		mandatory-data-byte = <0xae>;
		label = "I3C_SMQ_4";
		status = "okay";
	};
};
#endif

#if 0
/* test for bridge slave mode only, MCTP EID = 0x13, use for I3C_4 target */
&i3c4 {
	status = "okay";
	bcr = <0x66>;
	dcr = <0xCC>;
	part-id = <0x4321>;
	assigned-address = <0xB>;
        vendor-def-id = <0x666>;
	slave;
	status = "okay";
	i3c4_smq:i3c-slave-mqueue@B {
		compatible = "i3c-slave-mqueue";
		reg = <0xB>;
		msg-size = <256>;
		num-of-msgs = <4>;
		mandatory-data-byte = <0xae>;
		label = "I3C_SMQ_4";
		status = "okay";
	};
};
#endif

&spi_spim0_cs0 {
	status = "okay";
};

&spi_fiu0_cs1 {
	status = "okay";
};

&spi_spip1_cs0 {
	status = "okay";
};

&espi0 {
	status = "okay";
};
